body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: "Helvetica";
}


.header h2 {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    font-size: 18px;
}

li {
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.main-text h1 {
    margin: 0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.left-side p {
    margin: 0px;
    color: #E5E7EB;
    font-size: 18px;
}

.left-side button {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 27px;
}


.header {
    background: #1F2937;
    display: flex;
    flex-flow: column;
    padding: 0px 400px;
    justify-content: space-evenly;
    height: 100vh;
}

.header-top {
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    margin: 100px 15px 100px 0px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.secondary-text {
    padding-right: 80px;
}

.btn-top {
    margin-top: 10px;
}

.right-side {
    background: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    color: #F9FAF8;
    font-size: 18px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top-part {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
    gap: 5px;
}

.top-part h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.boxtext-container {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    gap: 65px;
}

.box {
    width: 15vh;
    height: 15vh;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    width: 15vh;
    margin-top: 10px;
    text-align: center;
    color: #1F2937
}

.mid-part {
    background: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 70px;
}

.mid-container > p {
    color: #1F2937;
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-family: "Yrsa light";
}

.mid-container {
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.author {
    align-self: flex-end;
}

.bottom-part {
    background: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.bottom-box {
    display: flex;
    background: #3882F6;
    border-radius: 5px;
}

.b-container p {
    margin: 0;
}

.b-container h3 {
    margin: 0;
}

.b-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    width: 95vh;
    height: 10vh;
}

.b-text {
    margin-left: -50px;
}

.btn-bot {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 1px solid white;
    padding: 5px 25px;
    border-radius: 5px;
}

.footer {
    background: #1F2937;
    color: #F9FAF8;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}